.center {
    text-align: center;
    font-family: cursive;
}

.image-container {
    float: left;
    width: 600px;
    margin-right: 20px;
}

.image-container img {
    display: block;
    width: 100%;
}

.caption {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin-top: 5px;
}

.heading {
    clear: left;
    text-align: center;
    font-family: 'Barriecito', cursive;
    font-size: 48px;
    margin: 20px 0;
    color: darkred;
}

.subtitle {
    margin-left: 620px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    margin-top: 20px;
}

.paragraph {
    margin-left: 620px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin-top: 10px;
}

.legend {
    clear: both;
    text-align: center;
    font-family: 'Barriecito', cursive;
    font-size: 48px;
    color: darkred;
    margin-top: 40px;
}
